<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações</title>
</head>
<body>
    <header>
        <p>
            <a href="{% url 'index'%}">Principal</a>
            <a href="{% url 'topics'%}">Todos os topicos</a>
            {% if user.is_authenticated %}
                <p>Olá, {{user.username}}</p>
            {% else %}
                <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </p>
    </header>
    {% block content %}{% endblock content %} 
</body>
</html>